body {
    background: black;
    width: 960px;
    margin: auto;
}

header {
    padding: 40px;
    color: #666;
    text-align: center;
    display: block;
}
a {
    color: #A8A565;
    text-decoration: none;
}
a:hover {
    color: #CFEB00;
}

h2, p {
    color: white;
    font-weight: normal;
}

p {
    text-align: center;
    font-size: 14px;
    margin: 20px;
}

#window {
    width: 900px;
    height: 350px;
    position: relative;
    margin: auto;
    border: 5px solid #666;
    overflow: hidden;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: left bottom;
    -webkit-transition: all 0.5s ease-out;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: left bottom;
    -moz-transition: all 0.5s ease-out;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: left bottom;
    -ms-transition: all 0.5s ease-out;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    transition: all 0.5s ease-out;
}

li:first-child {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
}
	
li.show {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
